# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs

*.log
debug.log

# Environment variables
.env
.env.development
.env.production

# Data files
# data/captured_data.json
main.db

# Editor/OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

data/logs/*
data/edgerunner/*

!data/.gitkeep
!data/logs/.gitkeep
!data/cookies/.gitkeep
!data/edgerunner/.gitkeep
