# =========================================================
# EDGE RUNNER BOT SYSTEM - ENVIRONMENT VARIABLE TEMPLATE
# Make this file for env/.env.development or env/.env.production
# =========================================================

# General Settings
NODE_ENV=  # e.g., development or production
PORT=      # e.g., 9090

# System Limits & Process Management
# Maximum number of EdgeRunner child processes allowed to run concurrently.
MAX_EDGERUNNER_INSTANCES=

# Used to send critical bot status updates and bet confirmations.
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_BOTS_CATEGORY_ID=
